/* 
    Created on : Jul 8, 2015, 6:18:38 PM
    Author     : daniel
*/
.container{
    display: flex;
    text-align: justify;
    //flex-wrap: wrap
    //flex-direction: row-reverse;
}
.container > div{
    padding: 5px 5px;
    flex-basis: 25%;
}

#three{
    order: 1;
}
#two, #one{
    order: 2;
}
#four{
    order: 3;
}