/* 
    Created on : Jul 9, 2015, 7:54:17 AM
    Author     : daniel
*/
.row{
    display: grid;
    grid-template-columns: 1fr repeat(11, 10px 1fr);
}
div[class^="col-"]{
    font-size: 2em;
}
.row > div[class$="-6"]{
    grid-auto-flow: row;
    background-color: yellow;
    grid-row-end: span 6;
}
.grid{
    background-color: activecaption;
    display: grid;
    grid-template-areas:
        'nav head head'
        'nav main side';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px auto;;
    border-radius: 20px;
    padding: 30px 30px;
}
.head{
    grid-area: head;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
a{
    color: blue;
    text-decoration: none;
    font-size: 2rem;
}
.grid > div{
    border: 1px solid gray;
}
